* {
    margin:0;
    text-decoration:none;
}
#corpo-1{
<<<<<<< HEAD
    background-color:black;
=======
    background-color:purple;
>>>>>>> 820d14785dc4c26db6ce1144c065ea3009f04714
}
/*css do titulo:*/
#title-0{
    color:red;
    font-size:20px;
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
    padding-top:10px;
    padding-left:5px;
    font-style:italic;
}
/*css da div do topo*/
#box-1{
    width:1370px;
    height:50px;
    background-color:salmon;
    padding-top:10px;
    padding-left:5px;
}
#box-2{
    width:1370px;
    height:100px;
}

#forms-1 {
    color: slateblue;
    text-align:left;
}

